$width: 940

//BREAKPOINTS

$break-small: 320px
$break-medium: 600px
$break-large: 900px

//COLORS

//backgrounds
$full-even: white
$full-odd: rgba(107, 116, 116, 1)
$full-light: rgba(107, 116, 116, 0.5)

//animations
$pulse: white
$head-darken: rgba(0,0,0,0.8)
$head-lighten: rgba(0,0,0,0.1)


$white-opac: rgba(255,255,255,1)
$white-cthu: rgba(255,255,255,0.3)
$white-transp: rgba(255,255,255,0)

$mute-transp: rgba(107, 116, 116, 0.6)

$mute-light: hsla(180, 4%, 84%, 1)
$mute-light-trans: hsla(180, 4%, 84%, 0.5)
$mute: #6B7474
$mute-dark: #5f6767
$shadow: #000000
$highlight: #FF530D
