$width: 940

//BREAKPOINTS

$break-small: 320px
$break-medium: 600px
$break-large: 900px

//COLORS

$full-even: white
$pulse: rgba(255,255,255,0.4)
$pulse-dark: rgba(0,0,0,0.9)
$head-darken: rgba(0,0,0,0.8)
$head-lighten: rgba(0,0,0,0.1)
$full-odd: #6B7474
$mute: #6B7474
$mute-dark: #5f6767
$btn: #5f6767
$social: #0F2E40
$video-shadow: #000000
$spinner: #FF0DFF
