footer
    background-color: $white-opac
    font-size: 0.8rem

    label
        color: $mute
        cursor: pointer

    .content
        display: flex
        align-items: center
        justify-content: center

        p,a
            color: $mute

        p
            &:after
                content: '|'
                padding: 0 0.5rem

        a
            &:hover
                box-shadow: none
                -webkit-box-shadow: none
                -moz-box-shadow: none
