.logo
    position: fixed
    left: 2rem
    top: 1rem
    z-index: 10001
    width: auto
    height: auto

    svg
        position: fixed
        width: em(300px)
        //opacity: 0.4
        background: black
        //transform: scale(1)
        //+transition(transform 0.3s ease-in-out)
        +transition(width 0.2s ease-in-out, background 0.2s ease-in-out)

        //g
            #a
                .a
                    line
                        .b
                            stroke: fuchsia
                            +transition(stroke 0.2s ease-in-out)


header
    background:
        image: url('../img/background_1.jpg')
        size: cover
        position: center center
        attachment: fixed
    height: 100vh
    overflow: hidden
    top: 0
    right: 0
    bottom: 0
    left: 0

    .content
        padding: 0 !important

    .head
        height: 100%

        .rapunzel
            display: flex
            align-items: center
            justify-content: center
            position: relative
            color: white

            img
                width: em(500px)
                //background:
                    color: $logo-bg
                padding: 7em 5em
                //border-radius: 50%
                z-index: 9
                text-shadow: 5px 5px 5px black


            #systole
                content: ""
                display: inline-block
                position: absolute
                border: $pulse 2px solid
                background-color: $pulse
                box-sizing: border-box
                width: 105px
                height: 105px
                z-index: 1001
                opacity: 0
                border-radius: 50%
                animation: systole 4s ease-in-out 0s infinite

            #diastole
                content: ""
                display: inline-block
                position: absolute
                //border: $pulse-dark 2px solid
                background-color: $pulse-dark
                box-sizing: border-box
                width: 105px
                height: 105px
                z-index: 1001
                opacity: 0
                border-radius: 50%
                animation: diastole 4s ease-in-out 0.5s infinite

            h1
                font-size: 3rem
                font-weight: 100
                display: inline-block
                border-top: 1px solid rgba(255,255,255,0.5)
                z-index: 5
                letter-spacing: 0.2rem
                text-shadow: $mute 2px 2px 2px

                //.mirror
                    transform: scaleX(-1)
                    -moz-transform: scaleX(-1)
                    -webkit-transform: scaleX(-1)
                    display: inline-block
                    margin-right: 1rem

    .dig
        height: 36px
        width: 36px
        position: absolute
        top: 90vh
        display: inline-block
        left: 50%
        margin-left: -18px
        +transition()
        z-index: 100

        &:hover
            top: 89vh
            +transition()

        &:after
            content: 'our music'
            color: white
            position: relative
            left: 2.5rem
            top: -2.9rem
            display: block
            width: 3rem

@keyframes systole
    0%
        opacity: 0

    20%
        opacity: 0.5

    40%
        opacity: 0
        transform: scale(2)

@keyframes diastole
    0%
        opacity: 0

    20%
        opacity: 0.5

    40%
        opacity: 0
        transform: scale(4)
