header
    background:
        image: url('../img/background_1.jpg')
        size: cover
        position: center center
        attachment: fixed
    height: 100vh
    overflow: hidden

    .content
        padding: 0 !important

    .head
        height: 100%

        .logo
            //background:
                image: url('../img/logo.svg')
                size: 200px
                position: center center
                repeat: no-repeat
            height: rem(200)
            opacity: 0.6
            width: 100%
            //margin: 0 auto
            z-index: 6
            padding: 1rem 0

            svg
                position: fixed
                z-index: 10001
                left: 2rem
                //transform: translate(-50%, 0)
                width: 300px
                background: black

        .rapunzel
            display: flex
            align-items: center
            justify-content: center
            padding-top: 10em
            //margin-left: -5px
            z-index: 5
            position: relative
            left: -4px
            color: white
            margin: 0 auto


            h1
                font-size: 3rem
                font-weight: 100
                display: inline-block
                border-top: 1px solid rgba(255,255,255,0.5)
                z-index: 5
                letter-spacing: 0.2rem
                text-shadow: $mute 2px 2px 2px

                //.mirror
                    transform: scaleX(-1)
                    -moz-transform: scaleX(-1)
                    -webkit-transform: scaleX(-1)
                    display: inline-block
                    margin-right: 1rem

    .dig
        //background-image: url("../img/downward.svg")
        //background-size: 50px
        background-position: center top
        background-repeat: no-repeat
        height: 36px
        width: 36px
        position: absolute
        top: 90vh
        display: inline-block
        left: 50%
        margin-left: -18px
        +transition()

        &:hover
            top: 89vh
            +transition()

        &:after
            content: 'our music'
            color: white
            position: relative
            left: 2.5rem
            top: -2.9rem
            display: block
            width: 3rem
