.full-2
    width: 100%
    color: black
    background-color: $full-odd
    overflow: hidden
    box-shadow: 0px -1px 5px black

    h2
        color: $white-opac
        font-weight: 100
        padding: 1.5rem 0 2rem 0

        &:before, &:after
            background-color: $white-opac

    .accordeon

        .accordeon-link
            text-align: center

            h3
                color: $white-opac
                text-align: center
                padding-bottom: 1rem
                font-weight: 100
                font-size: 1.2rem
                display: inline-block
                text-align: center
                cursor: pointer


            svg
                //display: inline
                width: 1rem
                top: 0.7rem
                left: 0.5rem
                position: relative
                opacity: 0.5
                transform: rotate(0deg)
                transition: all ease-in-out 0.5s
                transform-origin: center center
                cursor: pointer

            &.down
                svg
                    transform: rotate(180deg)

        .desc
            color: white
            max-width: $width * 0.5px
            text-align: center
            line-height: 1.5em
            margin: 0 auto 3rem auto
            position: relative

    .flex
        display: flex
        align-items: center
        justify-content: space-around
        padding: 2rem 0
        margin-bottom: 2rem

        .ramon, .annika, .mathis
            width: 200px
            height: 200px
            border-radius: 50%
            box-shadow: 0px 0px 0px 6px $mute, 0px 0px 0px 8px white
            display: flex
            align-items: center
            justify-content: center

            section
                color: rgba(0,0,0,1)
                border-radius: 10px
                padding: 0.4rem 1.5rem
                background-color: rgba(255,255,255,0.7)
                margin-top: 13rem

                h3
                    text-align: center
                    font-weight: 100
                    padding-bottom: 0.4rem
                    color: $mute

                p
                    text-align: center
                    font-weight: 300

                    &:before, &:after
                        background-color: rgba(100,100,100,0.9)
                        +transition(0.4s ease-in-out)

                    &:before, &:after
                        background-color: rgba(0,0,0,0)
                        opacity: 0.3
                        content: ""
                        display: inline-block
                        height: 1px
                        position: relative
                        vertical-align: middle
                        width: 50%
                        margin: 0 0.2rem
                        +transition(0.4s ease-in-out)

                    &:before
                        right: 0.5em
                        margin-left: -50%

                    &:after
                        left: 0.5em
                        margin-right: -50%

        .annika
            background:
                image: url('../img/annika-x1.jpg')
                color: white
                repeat: no-repeat

            @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
                background:
                    image: url('../img/annika-x2.jpg')
                    color: white
                    repeat: no-repeat
                    size: 200px 200px

        .mathis
            background:
                image: url('../img/mathis-x1.jpg')
                color: white
                repeat: no-repeat

            @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
                background:
                    image: url('../img/mathis-x2.jpg')
                    color: white
                    repeat: no-repeat
                    size: 200px 200px

        .ramon
            background:
                image: url('../img/ramon-x1.jpg')
                color: white
                repeat: no-repeat

            @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
                background:
                    image: url('../img/ramon-x2.jpg')
                    color: white
                    repeat: no-repeat
                    size: 200px 200px
