.impressum

    header
        background
            image: url('../img/background.jpg')
            size: cover
            position: center  center
            attachment: fixed
        height: 90vh

    section
        max-width: 58.75em
        display: block
        margin: 0.5rem auto 2rem auto

        h1
            font-size: 3rem
            padding-bottom: 1em

        p
            padding-bottom: 1em
            line-height: 1.5em


            b
                font-weight: bold
                display: block
            //padding-bottom: em
